version: '3.8'

services:
  jenkins:
    build:
      context: ..
      dockerfile: Dockerfile.jenkins
    container_name: jenkins
    ports:
      - "8081:8080"
      - "50000:50000"
    volumes:
      - jenkins_home:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      JAVA_OPTS: "-Xmx512m -Xms512m"
    restart: unless-stopped

volumes:
  jenkins_home:
